<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLMwn94U2mYeyPgS_ZQ345FZqx8l5EO0U</string>
	<key>GCM_SENDER_ID</key>
	<string>837585193273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aladin.hazadeals</string>
	<key>PROJECT_ID</key>
	<string>hazadeals-e4376</string>
	<key>STORAGE_BUCKET</key>
	<string>hazadeals-e4376.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837585193273:ios:3c8f28240fbea8e905c0e8</string>
</dict>
</plist>